{%load static%}


<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="{%static 'style/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
   
    <link href="{%static 'style/css/bae.css'%}" rel="stylesheet">
    <link href="{%static 'style/css/log.css'%}" rel="stylesheet">
    

 
     {%block css%}{%endblock%}


<nav class='enterforproduct'>
    <div class="container">
        
       
                <p class="nav-item">
                    <a class="nav-link" style='color: black;' href="{%url 'index'%}">Главная</a>

                </p>
                <p class="nav-item">
                    <a class="nav-link" style='color: black;'> | </a>
                </p>
                <p class="nav-item">
                    <a class="nav-link" style='color: black;' href="{%url 'products:indexp'%}">Магазин</a>
                </p>
                {% if user.is_authenticated %}
                <p class="nav-item">
                    <a class="nav-link"> | </a>
                </p>
                <p class="nav-item">
                    <a class="nav-link" style='color: bclack;' href="{%url 'users:profile'%}">Профиль </a>
                </p>

                  
                            <a class="nav-item" href="{%url 'users:logout'%}">
                                <img style='width: 50%; margin-top: 6px;'src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAABZElEQVR4nO2ZTUoDQRCFv1WOkfi7nwhewIleSMWFa8UTxOQEuYFnMUESY7YGjQpuAiMDvSgGxCxedyzoD5rs3qvXM11paiCTyWT+OzvAEFgAa6ASrHXQGwCdmMWfAR+ion9bK6AXa+djF1+ZEG11gKExmAInQEukXeuUwMx43CNmYcTr4mNQGo+5WtweWNXON2kB38HjSy1u39GY3ACf4ddlgGjkABuyD1wABzh9AuPgsQSOPAZ4ND7SEKkCdEPh8hApD3EBvBq/N+DYWxcq1CG20UYLZYi/AtTt7xy4Eq9Rw3sZzok8wFOiq3YFTLwHGMcIsAdcA3fi9ZDqFXJ/iNUUntto4fmPrOv9KjHxfpmber9OHwKXwK5aeBttVEoOsCG3scYq7gdbLwlGiz3j8awWHxjxWTBTDndPG8PdPmI6Yeyd4rr8HmO8Ttj1VYLiSyLSDo93Lv7EVOv1Y+18JpPJkIQfKpKPLTg0kzEAAAAASUVORK5CYII=">
                            </a>
                        
                {%else%}
                    <p class="nav-item">
                        <a class="nav-link" style='color: black;'> | </a>
                    </p>
                
                
                    <a class="nav-link" href="{%url 'users:login'%}" style='color: black; '> Войти </a>
                
                {%endif%}
                
                    </ul>
                </li>
           
        
    </div>
</nav>
{%block content%} {%endblock%}
    








<!-- Bootstrap core JavaScript -->
<script src="{%static 'style/jquery/jquery.min.js'%}"></script>
<script src="{%static 'style/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<!-- FontAwesome script -->
<script src="{%static 'style/fontawesome/fontawesome-icons.js'%}" crossorigin="anonymous"></script>

</body>

</html>
