{% extends 'products/base.html' %}
{%load static%}
{%block css%}
<link href="{%static 'style/css/product.css'%}" rel="stylesheet">
{%endblock%}

{%block content%} 
<div class="container">

    <div class="rowprod" >

        <div class="col-lg-3">

            <h1 class="my-4"><a style='color:black; text-decoration:none;' href="{%url 'products:indexp'%}">ANISTORE</a></h1>
            <div class="lg">
                {%for category in categories%}
                <a href="{%url 'products:category' category.id%}" class="lgi">{{category.name}}</a>
                {%endfor%}
                <form  action='{%url "products:indexp"%}' class='search'>
        
                    <input  style='border-radius: 2em; 'class="searching" type="search" placeholder="Search" aria-label="Search" name='search'>
                    <button style = 'border-radius: 2em;'class="btno" type="submit">Search</button>
                  </form>
                
            </div>

        </div>
        <!-- /.col-lg-3 -->
      

        <div class="col-lg-9">
            

        

            <div class="row">
            
                {%for product in products%}

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="{%url 'products:element' product.id%}">
                            <img class="card-img-top"
                                 src={{product.image.url}}
                                 alt="">
                        </a>
                        <div class="card-body">
                            <h4 class="headproduct">
                                <a href="{%url 'products:element' product.id%}">{{product.name}}</a>
                            </h4>
                            <h5>{{product.price}}</h5>
                            <p class="card-text">{{product.description}}</p>
                        </div>
                        <div class="card-footer text-center">
                            <a class='' href='{%url "products:basket_add" product.id%}'> 
                                
                                   
        
                                 <button type="button" class="lgi" style='padding: 10px;'>Добавить в корзину</button>
                            </a>
                        </div>
                    </div>
                </div>
                {%endfor%}
                

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item {%if not products.has_previos %} disabled {%endif%}"> <!если у списка нет предыдущих элементов, то кнопка не работает ->
                        <a class="page-link" href="{%if products.has_previos %} {%url 'products:paginator' products.previous_page_number %} {%else%}#{%endif%}" >Вернуться</a>
                    </li>
                    {%for page in products.paginator.page_range%}
                        <li class="page-item"><a class="page-link" href="{%url 'products:paginator' page%}">{{page}}</a></li>
                    {%endfor%}
                    
                
                    <li class="page-item {%if not products.has_next %} disabled {%endif%}">
                        <a class="page-link"  href="{%if products.has_next %} {%url 'products:paginator' products.next_page_number %}{%else%}#{%endif%}">Вперёд</a>
                    </li>
                </ul>
            </nav>

        </div>

    </div>

</div>
{%endblock%}

