
{%load static%}
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="{%static 'style/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{%static 'style/css/elemen.css'%}" rel="stylesheet">

<body>
 <div class="container">

    <div class="row" style='margin-left: -199px;'>

        <div class="col-lg-3">

            <h1><a href="{%url 'products:indexp'%}" class='backtostore'>В магазин</a></h1>
            <div class="lg">
                <div class="col-lg-4 col-md-6 mb-4">
                    
                    <h4 class="card-title" style='width: 300px;'>
                        <p style='color: #E91E63; text-decoration: none;'>{{product.name}}</p>
                    </h4>
                    <h5>{{product.price}}</h5>
                    <p class="ct">{{styleproduct.description}}</p>
                </div>
                <div class="row">
              
                
                    <div class="">
                        <a class='' href='{%url "products:basket_add" product.id%}'> 
                             <button type="button" class="lgi">Отправить в корзину</button>
                        </a>
                    </div>
                </div>
                
            </div>

        </div>
        <!-- /.col-lg-3 -->
       

        <div class="col-lg-9" style='display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;'>
        <section class="section-g">
            <div class="content-g">
                 <div class="slider middle">
                 <div class="slides">
                     <input type="radio" name="r" id="r1" checked />
                     <input type="radio" name="r" id="r2" />
                     <input type="radio" name="r" id="r3" />
                     
         
                     <div class="slide s1"><img src='{{product.image.url}}' alt="" /></div>
                     <div class="slide"><img src='{{product.image2.url}}' alt="" /></div>
                     <div class="slide"><img src='{{product.image3.url}}' alt="" /></div>
                     
                 <div class="navigation">
                     <label for="r1" class="bar"></label>
                     <label for="r2" class="bar"></label>
                     <label for="r3" class="bar"></label>
                     
                 </div>
             </div>


            
               
                

           

        </div>

    </div>
    
</div>

</div>




</body>

</html>




